<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>404</title>

<link rel="stylesheet" href="/css/main.css">

</head>

<body>

<nav>

<h2>Express Shop</h2>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/add-product">Add Product</a></li>

</ul>

</nav>

<div class="error-box">

<h1>404</h1>

<h2>Oops! Page Not Found</h2>

<p>

The page you're looking for doesn't exist or may have been moved.

</p>

<a href="/" class="btn">

Return Home

</a>

</div>

</body>
</html>