<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Add Product</title>

<link rel="stylesheet" href="/css/main.css">

</head>

<body>

<nav>

<h2>Express Shop</h2>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/add-product">Add Product</a></li>

</ul>

</nav>

<div class="container">

<h1>Add Product</h1>

<form action="/product" method="POST">

<label>Product Name</label>

<input
type="text"
name="title"
placeholder="Enter Product Name"
required>

<button type="submit">

Add Product

</button>

</form>

</div>

</body>
</html>